<div class="container col mt-5">
  <div class="container my-5">
    <form class="w-50 d-flex justify-content-center w-100" role="search">
      <input
        class="form-control me-2"
        style="width: 30%"
        type="search"
        placeholder="Search By Username"
        aria-label="Search"
        (input)="filterUsers($event)"
      />
    </form>
  </div>
  <div class="row">
    @for (item of usersArr; track $index) {
    <div class="card col-3" style="width: 18rem">
      <img
        src="../../assets/personal.jpeg"
        class="card-img-top rounded"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-center">username: {{ item.username }}</h5>

        <p class="card-text text-center">Email: {{ item.email }}</p>
        <p class="card-text text-center">Phone: {{ item.phone }}</p>
        @if (item.admin) {
        <p class="card-text text-center"><i class="fa-solid fa-star"></i></p>
        }@else {
        <p class="card-text text-center"><i class="fa-regular fa-star"></i></p>
        }
      </div>
    </div>
    }
  </div>
</div>
